<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/styles/main.css">
    <title>Articles</title>
</head>
<body>
    <div class="container">
        <h1>Articles</h1>
        <div class="tag-search">
            <input type="text" name="tag-searc-inp" placeholder="write some tag...">
        </div>
        <div class="articles">

        </div>

        <div class="add-article">
            <form action="" class="add-article-form" method="post">
                <input type="text" name="article-name" placeholder="Write article name...">
                <br><br><textarea name="articleText" cols="30" rows="10" placeholder="Write article text..."></textarea>
                <br><button type="button" class="add-article-btn">Add article</button>
            </form>
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>